﻿@inherits LayoutComponentBase

<RadzenDialog/>
<RadzenNotification Style="top:0"/>
<div class="page">
    <div class="main">
        <div class="content px-4" style="margin-bottom: 30px">
            @Body
        </div>
    </div>
</div>