.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #282C34;
    color: white;
}

.main {
    flex: 1;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }



    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
