﻿@using XenView.Data
@using System.Text.RegularExpressions
@using System.IO
@using Microsoft.AspNetCore.Components
@inject DatabaseContext _databaseContext
<RadzenContent Container="main" Style="padding: 0">
    <ChildContent>
        <div class="container row alert" style="background-color: #36393F;  margin: auto;">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@_book" Visible="@(_book != null)" TItem="XenView.Data.Book" Submit="@FormSubmit">
                    <ChildContent>
                        <div style="" class="row">
                            <div class="col">
                                <RadzenLabel Text="Title*" Component="Name" style="width: 100%; font-weight: bold;">
                                </RadzenLabel>
                                <RadzenTextBox style="width: 100%" @bind-Value="@(_book.Name)" Name="Name">
                                </RadzenTextBox>
                            </div>
                            <div class="col">
                                <RadzenLabel Text="Nr" Component="Number" style="width: 100%; font-weight: bold;">
                                </RadzenLabel>
                                <RadzenNumeric Format="0" style="width: 100%" Min="0" @bind-Value="@(_book.Nr)" Name="Number">
                                </RadzenNumeric>
                            </div>
                            <div class="col">
                                <RadzenLabel Text="Detail" Component="Extra" style="width: 100%; font-weight: bold;">
                                </RadzenLabel>
                                <RadzenDropDown style="width: 100%" @bind-Value="@(_book.Extra)" Data="_extraInfo" Name="Extra">
                                </RadzenDropDown>
                            </div>

                        </div>
                        <div style="" class="row">
                            <div class="col">
                                <RadzenLabel Text="Author*" Component="Author" style="width: 100%; font-weight: bold;">
                                </RadzenLabel>
                                <RadzenAutoComplete FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" style="display: block; width: 100%"
                                                    @bind-Value="@(_book.Author)" TextProperty="Author" Data="_databaseContext.GetAuthors()" Name="Author">
                                </RadzenAutoComplete>
                            </div>
                        </div>
                        <div style="" class="row">

                            <div class="col">
                                <RadzenLabel Text="Series" Component="Series" style="width: 100%; font-weight: bold;">
                                </RadzenLabel>
                                <RadzenAutoComplete FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    style="width: 100%" TextProperty="Name" @bind-Value="@(_book.Series.Name)" Data="_databaseContext.Series" Name="Series">
                                </RadzenAutoComplete>
                            </div>
                        </div>

                        <CoverImage @ref="@_coverImage" Book="_book"></CoverImage>

                        <div style="" class="row">
                            <div class="col">
                                <RadzenLabel Text="Book Type" Component="BookType" style="width: 100%; font-weight: bold;">
                                </RadzenLabel>
                                <RadzenDropDown style="width: 100%" Data="_bookTypes" TValue="string" Value="BookType.Unknown" Name="BookType" Change="value => _book.BookType = Utility.FromString((string)value)">
                                </RadzenDropDown>
                            </div>
                        </div>

                        <div class="center" style="margin-top: 10px;">
                            <div class="row">
                                <div class="col">
                                    <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => _book.Read = !_book.Read)" type="button">
                                        <RadzenImage style="@Index.GenerateColor(_book.Read)" Path="assets/read.png"></RadzenImage>
                                    </button>
                                    <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => _book.Status = Status.Delivered)" type="button">
                                        <RadzenImage style="@Index.GenerateColor(Status.Delivered, _book)" Path="assets/checkmark.png"></RadzenImage>

                                    </button>
                                    <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => _book.Status = Status.Ordered)" type="button">
                                        <RadzenImage style="@Index.GenerateColor(Status.Ordered, _book)" Path="assets/box.png"></RadzenImage>
                                    </button>
                                    <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => _book.Status = Status.None)" type="button">
                                        <RadzenImage style="@Index.GenerateColor(Status.None, _book)" Path="assets/cross.png"></RadzenImage>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="center" style="margin-top: 10px;">
                            <div class="row">
                                <div class="col">
                                    @foreach (Category category in Enum.GetValues<Category>().Skip(1)) {
                                        <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => { if (_book.Categories.HasFlag(category)) {_book.Categories &= ~category; } else _book.Categories |= category; })" type="button">
                                            <RadzenImage style="@Index.GenerateColor(_book.Categories.HasFlag(category))" Path=@Index.GetCategoryImagePath(category)></RadzenImage>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>


                        <div class="center" style="margin-top: 10px;">
                            <div class="row">
                                <div class="col">
                                    @for (int i = 1; i <= 5; i++) {
                                        int id = i;

                                        <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => { _book.Rating = id; })" type="button">
                                            <RadzenImage style="@Index.GenerateColor(_book.Rating >= id)" Path="assets/rating.png"></RadzenImage>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>

                        <div style="margin-top: 1rem" class="row">
                            <div class="col">
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Add" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

@code{
    private Book _book = new() { Series = new Series() };
        const string DefaultStatus = "Drop a text file here to view it, or click to choose a file";

    [Parameter]
    public Action Update { get; set; }

    private List<ExtraInfo> _extraInfo = Enum.GetValues<ExtraInfo>().ToList();

    private List<string> _bookTypes = Enum.GetValues<BookType>().Select(type => FormatName(type.ToString())).ToList();

    [Inject]
    protected DialogService DialogService { get; set; }

    [Inject]
    protected NotificationService NotificationService { get; set; }

    private CoverImage _coverImage;


    public bool ValidateBook(Book book) {
        if (string.IsNullOrWhiteSpace(book.Name)) {
            NotificationService.Notify(new NotificationMessage { Duration = Index.NotificationTime, Severity = NotificationSeverity.Error, Summary = "Error:", Detail = "Book Name is required." });
            return false;
        }
        if (string.IsNullOrWhiteSpace(book.Author)) {
            NotificationService.Notify(new NotificationMessage { Duration = Index.NotificationTime, Severity = NotificationSeverity.Error, Summary = "Error:", Detail = "Author is required." });
            return false;
        }

        if (Math.Abs(book.Nr % 1) > float.Epsilon * 100) {
            NotificationService.Notify(new NotificationMessage { Duration = Index.NotificationTime, Severity = NotificationSeverity.Error, Summary = "Error:", Detail = "Nr should be an integer." });
            return false;
        }


        if (string.IsNullOrEmpty(book.Series.Name))
            book.Series = null;
        else {
            book.Series.Name = CleanUpString(book.Series.Name);
            Series series = _databaseContext.Series.FirstOrDefault(ser => ser.Name == book.Series.Name);
            if (series != null)
                book.Series = series;
        }
        if (book.Extra == ExtraInfo.Extra) {
            book.Nr += 0.5f;
        }

        book.Author = CleanUpString(book.Author);
        book.Name = CleanUpString(book.Name);
        return true;
    }

    private async Task FormSubmit(Book args) {
        if (!ValidateBook(args)) return;
        _databaseContext.Books.Add(_book);
        await _databaseContext.SaveChangesAsync();
        _book = new Book { Series = new Series() };
        NotificationService.Notify(new NotificationMessage { Duration = Index.NotificationTime, Severity = NotificationSeverity.Success, Summary = "Success:", Detail = $"Added {args.Name}." });
        Update.Invoke();
        _coverImage.ClearImage(true);
    }

    public static string CleanUpString(string stringToClean) {
        const RegexOptions options = RegexOptions.Compiled;
        var regex = new Regex("[ ]{2,}", options);
        return regex.Replace(stringToClean, " ").Trim();
    }

    public static string FormatName(string str) {
        string[] split = Regex.Split(str, @"(?<!^)(?=[A-Z])");
        string res = split[0];
        for (var index = 1; index < split.Length; index++) {
            res += $" {split[index]}";
        }

        return res;
    }


}