@using XenView.Data
@using System.IO
<div style="margin-bottom: 10px" class="row">
    <div class="col">
        <RadzenLabel Text="Cover" Component="Cover" style="width: 100%; font-weight: bold;"/>
        <RadzenTextBox style="width: 100%" @bind-Value="@(Book.ImageLink)" Name="Extra" Disabled="_file != null && !_doneUpload"/>
    </div>
    <div class="col" style="max-width: 70px; margin-top: 30px;">
        - Or -
    </div>
    <div class="col">

        <RadzenLabel Text="Local Image" Component="Cover" style="width: 100%; font-weight: bold;"/>

        <div class="drag-drop-zone" style="@ShouldDisplay(_file == null); border-radius: 5px">
            <BlazorInputFile.InputFile OnChange="async (args) => await HandleFileSelected(args)"/>

        </div>

        @if (_file != null && (100.0 * _file.Data.Position / _file.Size) < 100) {
            <RadzenProgressBar Value="@(100.0 * _file.Data.Position / _file.Size)"/>
        }
        else if (_file != null) {
            <RadzenButton style="width: 100%" Name="Extra" Click="() => ClearImage()">
                <RadzenImage style="width: 25px; height: 25px;" Path="assets/cross.png"/>
            </RadzenButton>
        }
    </div>


</div>

@code {

    [Parameter]
    public Book Book { get; set; }

    private IFileListEntry _file;

    private bool _doneUpload;

    private string ShouldDisplay(bool shouldDisplay) {
        return shouldDisplay ? "display: inherit" : "display: none";
    }

    public void ClearImage(bool publish = false) {
        _file = null;
        if (!publish)
            Book.ImageLink = "";
        _doneUpload = false;
    }

    async Task HandleFileSelected(IFileListEntry[] files) {
        _file = files.FirstOrDefault();
        var format = "image/" + _file.Name.Split('.')[^1];

        _file.OnDataRead += (_, _) => InvokeAsync(StateHasChanged);

        var load = new MemoryStream();
        await _file.Data.CopyToAsync(load);

        _file = await _file.ToImageFileAsync(format, 1024, 1024);
        var ms = new MemoryStream();
        await _file.Data.CopyToAsync(ms);
        _doneUpload = true;
        Book.ImageLink = $"data:{format};base64,{Convert.ToBase64String(ms.ToArray())}";
    }

}