@page "/"
@using XenView.Data

<h1 class="text-center" style="text-decoration: double">XenView - 4.13.13</h1>
<hr style="background-color: white">
<AddBook @ref="@_addBook" Update="() => { RemoveOldSeries(); _books.Add(DatabaseContext.Books.OrderBy(book => book.Id).Last()); _books = _books.OrderBy(book => book.Author.ToLower()).ThenBy(book => book.Series).ThenBy(book => book.Nr).ToList(); _grid.Reload();}"></AddBook>
<hr style="background-color: white;">
<div class="text-center">
    Total: @DatabaseContext.Books.Count() |

    Authors: @DatabaseContext.GetAuthors().Count |

    Series: @DatabaseContext.Series.Count() | 

    <a style="text-decoration: underline; cursor: pointer" @onclick="@(async () => await DownloadFile())">Download As CSV</a>
</div>

<div class="text-center">
    Unknown: @DatabaseContext.Books.Count(book => book.BookType == BookType.Unknown) |
    
    Paper Back: @DatabaseContext.Books.Count(book => book.BookType == BookType.PaperBack) |
    
    Hard Back: @DatabaseContext.Books.Count(book => book.BookType == BookType.HardCover) |
    
    Online: @DatabaseContext.Books.Count(book => book.BookType == BookType.Online)
</div>

<div class="text-center">
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/read.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Read) |

    <RadzenImage style="width: 25px; height: 25px;" Path="assets/checkmark.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Status == Status.Delivered) |

    <RadzenImage style="width: 25px; height: 25px;" Path="assets/box.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Status == Status.Ordered) |

    <RadzenImage style="width: 25px; height: 25px;" Path="assets/cross.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Status == Status.None)
</div>

<div class="text-center">
    @foreach (Category category in _categories) {
        <RadzenImage style="width: 25px; height: 25px;" Path=@GetCategoryImagePath(category)></RadzenImage>
        <span>:</span>
        @DatabaseContext.GetCount(category)
        if (category != _categories.Last()) {
            <span>|</span>
        }
    }
</div>

<div class="text-center">
    <RadzenImage style="width: 25px; height: 25px; filter: saturate(0%); " Path="assets/rating.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Rating == 0)
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Rating == 1) |

    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Rating == 2) |

    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Rating == 3) |

    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Rating == 4) |

    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>
    <RadzenImage style="width: 25px; height: 25px;" Path="assets/rating.png"></RadzenImage>: @DatabaseContext.Books.Count(book => book.Rating == 5) |

</div>

<hr style="background-color: white">
<RadzenLabel Text="Filter Mode" style="width: 100%"></RadzenLabel>
<RadzenDropDown Data="Enum.GetValues<LogicalFilterOperator>().Reverse().ToList()" TValue="LogicalFilterOperator" Value="_selectedFilterMode" ValueChanged="filter => { _selectedFilterMode = filter; UpdateFilter();}"></RadzenDropDown>
<div style="margin-bottom: 110px">
    <RadzenDataGrid @ref="@_grid" Style="color: black" AllowColumnResize="true" PagerPosition="PagerPosition.TopAndBottom" PageSizeOptions="new[] { 50, 100, 200, 1000 }" PageSize="50" AllowPaging="true" Data="@_books" TItem="Book"
                    FilterMode="FilterMode.Simple" AllowFiltering="true" EmptyText="No books to show"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LogicalFilterOperator="_selectedFilterMode" AllowGrouping="true" GroupPanelText="Drag a column header here and drop it to group by that column or drag before/after another column to rearrange. (Grouping by Cover or Series is not supported)">
        <Columns>
            <RadzenDataGridColumn TextAlign="TextAlign.Center" Filterable="true" TItem="Book" Property="Status" Title="Status" Width="135px">
                <FilterTemplate>
                    <div class="center">
                        <div class="row">
                            <div class="col">
                                <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="ToggleRead">
                                    <RadzenImage style="@GenerateColor(_showRead)" Path="assets/read.png"></RadzenImage>

                                </button>
                                <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="ToggleDelivered">
                                    <RadzenImage style="@GenerateColor(_showDelivered)" Path="assets/checkmark.png"></RadzenImage>

                                </button>
                                <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="ToggleOrdered">
                                    <RadzenImage style="@GenerateColor(_showOrdered)" Path="assets/box.png"></RadzenImage>
                                </button>
                                <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="ToggleNone">
                                    <RadzenImage style="@GenerateColor(_showNone)" Path="assets/cross.png"></RadzenImage>

                                </button>
                            </div>
                        </div>
                    </div>

                </FilterTemplate>

                <Template Context="data">
                    <div class="center">
                        <div class="row">
                            <div class="col">
                                <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => { data.Read = !data.Read; UpdateBookData(data); })">
                                    <RadzenImage style="@GenerateColor(data.Read)" Path="assets/read.png"></RadzenImage>
                                </button>
                                <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => UpdateBook(Status.Delivered, data))">
                                    <RadzenImage style="@GenerateColor(Status.Delivered, data)" Path="assets/checkmark.png"></RadzenImage>

                                </button>
                                <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => UpdateBook(Status.Ordered, data))">
                                    <RadzenImage style="@GenerateColor(Status.Ordered, data)" Path="assets/box.png"></RadzenImage>
                                </button>
                                <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => UpdateBook(Status.None, data))">
                                    <RadzenImage style="@GenerateColor(Status.None, data)" Path="assets/cross.png"></RadzenImage>
                                </button>
                            </div>
                        </div>
                    </div>

                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TextAlign="TextAlign.Center" Filterable="true" TItem="Book" Property="Categories" Title="Categories" Width="155px">
                <FilterTemplate>
                    <div class="center">
                        <div class="row">
                            @for (var categoryIndex = 0; categoryIndex < _categories.Count;) {
                                <div class="col" style="margin-top: 10px">
                                    @for (var i = 0; i < 4; i++) {
                                        if (categoryIndex >= _categories.Count) continue;
                                        Category category = _categories[categoryIndex];
                                        <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="() => ToggleCategory(category)">
                                            <RadzenImage style="@GenerateColor(_activeCategories[category])" Path="@GetCategoryImagePath(category)"></RadzenImage>

                                        </button>
                                        categoryIndex++;
                                    }
                                </div>
                            }
                        </div>
                    </div>


                </FilterTemplate>

                <Template Context="data">
                    <div class="center">
                        <div class="row">
                            @for (var categoryIndex = 0; categoryIndex < _categories.Count;) {
                                <div class="col" style="margin-top: 10px">
                                    @for (var i = 0; i < 4; i++) {
                                        if (categoryIndex >= _categories.Count) continue;
                                        Category category = _categories[categoryIndex];
                                        <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="() => { if (data.Categories.HasFlag(category)) {data.Categories &= ~category; } else data.Categories |= category; UpdateBookData(data); }">
                                            <RadzenImage style="@GenerateColor(data.Categories.HasFlag(category))" Path="@GetCategoryImagePath(category)"></RadzenImage>
                                        </button>
                                        categoryIndex++;
                                    }
                                </div>
                            }
                        </div>
                    </div>

                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Book" TextAlign="TextAlign.Center" Property="Rating" Title="Rating" Width="180px">
                <FilterTemplate>
                    <div class="center" style="width: 100%; height: 35px">
                        @for (var i = 1; i <= 5; i++) {
                            int id = i;

                            <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => { _selectedRating = id; UpdateFilter(); })">
                                <RadzenImage style="@GenerateColor(_selectedRating >= id && _selectedRating != 0)" Path="assets/rating.png"></RadzenImage>
                            </button>
                        }
                        <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => { _selectedRating = 0; UpdateFilter();})">
                            <RadzenIcon Icon="close" style="width: 25px; height: 25px;"></RadzenIcon>
                        </button>
                    </div>
                </FilterTemplate>
                <Template Context="data">
                    @for (int i = 1; i <= 5; i++) {
                        int id = i;

                        <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => { data.Rating = id; UpdateBookData(data); })">
                            <RadzenImage style="@GenerateColor(data.Rating >= id)" Path="assets/rating.png"></RadzenImage>
                        </button>
                    }

                    <button style="padding: 0; background: none; border: none; width: 25px; height: 25px; border-radius: 8px;" @onclick="@(() => { data.Rating = 0; UpdateBookData(data);})">
                        <RadzenIcon Icon="close" style="width: 25px; height: 25px;"></RadzenIcon>
                    </button>
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TextAlign="TextAlign.Center" TItem="Book" Width="120px" Property="ImageLink" Groupable="false" Title="Cover" Filterable="false">
                <Template Context="data">
                    @if (!string.IsNullOrEmpty(data.ImageLink)) {
                        <RadzenImage Path="@data.ImageLink" style="height: 150px; border-radius: 8px;"/>
                    }
                    else {
                        <RadzenImage Path="assets/placeholder.png" Style="height: 150px; border-radius: 8px;"></RadzenImage>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Book" TextAlign="TextAlign.Center" Property="Author" Title="Author" Width="215px"/>
            <RadzenDataGridColumn Groupable="false" TItem="Book" TextAlign="TextAlign.Center" Property="Series.Name" Title="Series" Width="280px">
                <Template Context="data">
                    @if (data.Series != null && !string.IsNullOrEmpty(data.Series.Name)) {
                        @data.Series.Name
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Book" TextAlign="TextAlign.Center" Property="Nr" Title="Nr" Width="65px" Filterable="false">
                <Template Context="data">
                    @if (data.Nr != 0) {
                        @data.Nr
                    }
                </Template>
            </RadzenDataGridColumn>
            
             <RadzenDataGridColumn TItem="Book" TextAlign="TextAlign.Center" Property="BookType" Title="Type" Width="100px" Filterable="false">
                            <Template Context="data">
                                @if (data.BookType != BookType.Unknown) {
                                    @AddBook.FormatName(data.BookType.ToString())
                                }
                            </Template>
                        </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Book" TextAlign="TextAlign.Center" Property="Name" Title="Title">
                <Template Context="data">
                    <div style="font-size: large"> @GenerateName(data)</div>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn Filterable="false" TextAlign="TextAlign.Center" TItem="Book" Width="85px">
                <Template Context="data">
                    <button style="background: none; border: none; width: 25px; height: 25px; border-radius: 8px; padding: 0;" @onclick="@(async () => { await ShowEditDialog(data); })">
                        <RadzenImage style="width: 25px; height: 25px;" Path="assets/edit.png"></RadzenImage>
                    </button>
                    <button style="background: none; border: none; width: 25px; height: 25px; border-radius: 8px; padding: 0;" @onclick="@(async () => { await ShowInlineDialog(data); })">
                        <RadzenImage style="width: 25px; height: 25px;" Path="assets/trash.png"></RadzenImage>
                    </button>

                </Template>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>
</div>

@code{


    async Task ShowInlineDialog(Book book) {
        await DialogService.OpenAsync($"Delete \"{book.Name}\"?", ds =>
            @<div>
                <div class="row">
                    <div style="margin-right: 270px;
                                                      margin-left: 10px;">
                        <RadzenButton Text="Yes" Icon="delete" Click="() => { ds.Close(true); Delete(book); }" ButtonStyle="ButtonStyle.Success" Style="margin-bottom: 10px; width: 150px"/>
                    </div>
                    <div>
                        <RadzenButton Text="No" Click="() => { ds.Close(false); }" Icon="close" ButtonStyle="ButtonStyle.Danger" Style="margin-bottom: 10px; width: 150px"/>

                    </div>
                </div>
            </div>);
    }

    async Task ShowEditDialog(Book book) {
        book = new Book(book);
        book.Series ??= new Series();
        book.Nr = MathF.Floor(book.Nr);
        await DialogService.OpenAsync($"Update \"{book.Name}\"", ds =>
            @<div class="container row alert" style="margin-left: 0;">
                <div class="col-md-12">
                    <RadzenTemplateForm Data="@book" TItem="XenView.Data.Book" Submit="() => { if (!UpdateBook(book)) return;ds.Close(); book = new Book { Series = new Series() }; }">
                        <ChildContent>
                            <div style="" class="row">
                                <div class="col">
                                    <RadzenLabel Text="Title*" Component="Name" style="width: 100%; font-weight: bold;">
                                    </RadzenLabel>
                                    <RadzenTextBox style="width: 100%" @bind-Value="@(book.Name)" Name="Name">
                                    </RadzenTextBox>
                                </div>
                                <div class="col">
                                    <RadzenLabel Text="Nr" Component="Number" style="width: 100%; font-weight: bold;">
                                    </RadzenLabel>
                                    <RadzenNumeric Format="0" style="width: 100%" Min="0" @bind-Value="@(book.Nr)" Name="Number">
                                    </RadzenNumeric>
                                </div>
                                <div class="col">
                                    <RadzenLabel Text="Detail" Component="Extra" style="width: 100%; font-weight: bold;">
                                    </RadzenLabel>
                                    <RadzenDropDown style="width: 100%" @bind-Value="@(book.Extra)" Data="_extraInfo" Name="Extra">
                                    </RadzenDropDown>
                                </div>

                            </div>
                            <div style="" class="row">
                                <div class="col">
                                    <RadzenLabel Text="Author*" Component="Author" style="width: 100%; font-weight: bold;">
                                    </RadzenLabel>
                                    <RadzenAutoComplete FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" style="display: block; width: 100%"
                                                        @bind-Value="@(book.Author)" TextProperty="Author" Data="DatabaseContext.GetAuthors()" Name="Author">
                                    </RadzenAutoComplete>
                                </div>
                            </div>
                            <div style="" class="row">

                                <div class="col">
                                    <RadzenLabel Text="Series" Component="Series" style="width: 100%; font-weight: bold;">
                                    </RadzenLabel>
                                    <RadzenAutoComplete FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        style="width: 100%" TextProperty="Name" @bind-Value="@(book.Series.Name)" Data="DatabaseContext.Series" Name="Series">
                                    </RadzenAutoComplete>
                                </div>
                            </div>

                            <div style="" class="row">
                                <div class="col">
                                    <RadzenLabel Text="Book Type" Component="BookType" style="width: 100%; font-weight: bold;">
                                    </RadzenLabel>
                                    <RadzenDropDown style="width: 100%" Data="_bookTypes" TValue="string" Value="book.BookType" Name="BookType" Change="value => book.BookType = Utility.FromString((string)value)">
                                    </RadzenDropDown>
                                </div>
                            </div>
                            
                            <CoverImage Book="book"></CoverImage>

                            <div style="margin-top: 1rem" class="row">
                                <div class="col">
                                    <RadzenButton ButtonType="ButtonType.Submit" Icon="edit" Text="Update" ButtonStyle="ButtonStyle.Success">
                                    </RadzenButton>
                                    <RadzenButton ButtonType="ButtonType.Reset" class="float-right" Icon="close" Text="Close" Click="() => { ds.Close(); }" ButtonStyle="ButtonStyle.Danger">
                                    </RadzenButton>
                                </div>
                            </div>
                        </ChildContent>
                    </RadzenTemplateForm>
                </div>
            </div>, new DialogOptions { Width = "1000px" });
    }

}